@model int
<div class="text-center p-4">
    <h2 class="text-success">Order Placed Successfully</h2>
    <p class="text-dark">Your Order Number Is :<span>@Model</span> </p>
    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Back To Home</a>
</div>