@model RoleManagementVM

<div class="card shadow-lg border-0 my-4">
    <div class="card-header bg-primary text-white text-center py-3">
        <h2 class="mb-0">Manage User Role</h2>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="User.Id" hidden />
            <div class="row g-3">
                <div class="col-12">
                    <label asp-for="User.Email" class="form-label"></label>
                    <input asp-for="User.Email" class="form-control" disabled />

                </div>
                <div class="col-12 mt-3">

                    <select asp-for="CurrentRole" asp-items="@Model.RoleList" class="form-select">
                    </select>

                </div>
                <div class="col-12 mt-4">

                    <div class="row">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">

                            <button type="submit" class="btn btn-primary w-100 form-control">
                                <i class="fas fa-plus-circle me-2"></i>
                                Update Role
                            </button>
                        </div>
                        <div class="col-12 col-md-6">

                            <a asp-controller="Account" asp-action="Index" class="btn btn-outline-secondary form-control w-100">
                                <i class="fas fa-arrow-alt-circle-left me-2"></i>
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
